{% extends 'base.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
  <h2>Log in to My Site</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
      {% bootstrap_form form %}

    <input type="hidden" name="next" value="{{ next }}" />

    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
    <a href="{% url 'signup' %}">New to My Site? Sign up</a>
    <br>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
     <img id="signInButton" src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png" onclick="document.getElementById('signInButton').src='http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png'">
    </a>
    <br>

  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
  </form>

{% endblock %}